{% extends 'layouts/main.html' %}
{% block title %}Show Search{% endblock %}
{% block content %}

    <div class="page-header">
        <h1>Fyyur Search!</h1>
    </div>
    <p class="lead"> Show Search </p>

    <ul class="nav nav-pills">
        <li class="active"><a>Shows</a></li>
    </ul>

<ul class="items">
	{% for venue in results.data %}
	<li>
		<a href="/shows/{{ shows.id }}">
			<i class="fas fa-music"></i>
			<div class="item">
				<h5>{{ show.Artist.name }} | {{ show.Venue.name }}</h5>
			</div>
		</a>
	</li>
	{% endfor %}
</ul>

{% endblock %}